@media screen and (max-width:800px){
    .feature__left{
        width: 40%!important;
    }
    .feature__right{
        width: 40%!important;
    }
    .feature__right > img{
        width: 250px!important;
    }
}