img{
  mix-blend-mode: lighten ;
  filter: contrast(1);
}
.main__btn{
  background-color: #5542F6;
  border: 0;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px; 
}
.notmain__btn{
  
  border: 0;
  color: white;
  font-weight: 600;
  background-color: transparent;
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 5px; 
}
svg{
  height: 20px!important;
}